html,
body 
{
  min-height: 500px;
  min-width: 645px;
  max-width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  background-color: black;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
  height: 12px; /* Altura da barra de rolagem (para rolagem horizontal) */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do track da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor do thumb (indicador) da barra de rolagem */ /* Bordas arredondadas do thumb */
  border: 3px solid #f1f1f1; /* Espessura e cor do contorno ao redor do thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do thumb ao passar o mouse */
}

::-webkit-scrollbar-thumb:active {
  background-color: #333; /* Cor do thumb ao clicar */
}

::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Cor do canto da barra de rolagem */
}

