@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

.main {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
.section {
    height: 100vh;
    order: 1;
}
  
.videoContainer {
    position: relative; /* Define um contexto de posicionamento para o contêiner */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%; /* Defina a altura do contêiner para ocupar todo o espaço do vídeo */
}
  
.titleContainer {
    position: absolute; /* Define o posicionamento absoluto para o título */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    top: 0;
    bottom: 0;
    text-align: center;
}


.title {
    font-size: 24px;
    margin: 0;
    opacity: 1;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}


.subtitle {
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}
  
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%) grayscale(60%) blur(4px);
    transition: filter 1s ease;
}

.button {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    color: black; /* Texto preto */
    border: none;
    padding: 20px 40px; /* Espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    text-transform: uppercase; /* Texto em maiúsculas */
    font-weight: bold; /* Texto em negrito */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    box-shadow: 0px 0px 2px 0px black inset;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    transition: background-color 0.3s, color 0.3s; /* Transições suaves */
    border-radius: 36px;
}


.button:hover {
    color: white;
    background-color: black;
}


@media (min-width: 1440px) {
    .title {
        font-size: 64px;
    }
    .subtitle {
        padding-bottom: 48px;
        font-size: 28px;
    }
}

/*** SECTION REVIEWS ***/

.reviewsSection h1 {
    text-align: center;
    margin: 0;
    font-size: 48px;
    opacity: 0.9;
}

.reviewsSection > p {
    margin: 0;
    font-size: 24px;
    opacity: 0.9;
    text-align: center;
    padding-bottom: 48px;
}

.reviewsSection > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewsSection > div > div:nth-child(1) {
    padding: 16px;
    color: #fff;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.04);
}

.textOfEmprise {
    display: flex;
}

.textemprise {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin: 0;
    color: #fff;
}

.dateFundation {
    opacity: 0.5;
    font-size: 12px;
}

.imageReview {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    border-radius: 36px;
}

.profileName {
    font-weight: bold;
}

.ratingText {
    font-size: 12px;
}

.profileContainer {
    width: 64px;
    height: 64px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.04);
}

.reviewsSection {
    padding: 48px;
    background-color: rgba(255, 255, 255, 0.04);
    order: 4;
}

.reviewButtonDiv {
    padding-top: 12px;
    display: flex;
}

.reviewButton {
    cursor: pointer;
    color: black;
    font-size: 12px;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 36px;
    width: 100%;
    text-align: center;
    padding: 8px 16px;
}

/*** SECTION PLANOS ***/

.offersSection {
    background: rgba(255, 255, 255, 0.04);
    order: 2;
    padding: 48px;
}


.offersArticle {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.offersTitleH1 {
    margin: 0;
    opacity: 0.9;
    font-size: 48px;
    text-align: center;
}

.offersDescriptionP {
    font-size: 24px;
    text-align: center;
    opacity: 0.9;
    margin: 0;
    padding-bottom: 48px;
}

.offersContainer {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 36px;
    padding: 24px;

}

.checkedSvg {
    width: 16px;
    height: 16px;
}

.offersUl {
    list-style: none;
    padding: 0;
}

.offersLi {
    padding-bottom: 12px;
}

.offersLi:last-of-type {
    padding-bottom: 0px;
}

.offersTextDiv {
    display: flex;
    align-items: center;
    gap: 12px;
}

.offersPriceDiv {
    display: flex;
    flex-direction: column;
}

.offersPriceStrong {
    font-size: 24px;
}

.offersPriceP {
    font-size: 12px;
    margin: 0;
    padding-top: 4px;
}

.titleOffersH2 {
    font-weight: normal;
    margin: 0;
}

.descriptionOffersP {
    margin: 0;
    opacity: 0.5;
}

.offersButton {
    background: none;
    padding: 16px 24px;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    margin-top: 12px;
    box-shadow: 0px 0px 2px 0px black inset;
    border-radius: 36px;
    transition: color 0.6s ease, background-color 0.6s ease;  
    width: 100%;  
}

/*** SECTION ??? ***/

.aboutSection {
    order: 3;
  }
  
.aboutImg {
    background-image: url('https://www.bodytech.com.br/assets/home/gym_main.jpg');
    z-index: 990;
    background-color: #424850;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}
  
  .aboutContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 144px;
}
  
  .aboutSection p {
    margin: 0;
    font-size: 24px;
    padding-top: 48px;
  }
  
  .aboutSection h1 {
    margin: 0;
    font-size: 48px;
  }

/*** SECTION INSTALLATIONS ***/

.helpSection {
    order: 5;
}

.helpImg {
    background-image: url('https://www.bodytech.com.br/assets/home/gym_faq.jpg');
    z-index: 990;
    background-color: #424850;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helpContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.helpContainer h1 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 48px;
    opacity: 0.9;
    padding-bottom: 48px;
}

.helpButtonsContainer {
    display: flex;
    gap: 48px;
}

.helpBtn {
    padding: 16px 32px;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    min-width: 248px;
    box-shadow: 0px 0px 2px 0px black inset;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
}
